<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
        <div class="navbar-text">
          <% if (user) { %>
            <span>Hello, <%= user.email %>!</span>
          <% } %>
        </div>
        <% if (!user) { %>
          <form class="form-inline" method="GET" action="/register" style="padding-left: 15px;">
            <button type="submit" style=
            "background-color: white; 
            color: black;
            border-color: black; 
            border-radius: 3px; 
            padding: 5px 10px; 
            cursor: pointer;
            ">
            Register
            </button>
          </form>
          <form class="form-inline" method="GET" action="/login" style="padding-left: 5px;">
            <button type="submit" style=
            "background-color: white; 
            color: black;
            border-color: black; 
            border-radius: 3px; 
            padding: 5px 10px; 
            cursor: pointer;
            ">
            Login
            </button>
          </form>
        <% } else { %>
          <form class="form-inline" method="POST" action="/logout" style="padding-left: 15px;">
            <button type="submit" style=
            "background-color: white; 
            color: black;
            border-color: black; 
            border-radius: 3px; 
            padding: 5px 10px; 
            cursor: pointer;
            ">
            Logout
            </button>
          </form>
        <% } %>
    </div>
  </nav>
</header>
